@{
    ViewData["Title"] = "Privacy Policy";
}
 <h2 style="font-family:Inter;color:Black"><b>Privacy Policy</b></h2>

<img style="align-content:center" src="https://www.termsfeed.com/public/uploads/2022/07/privacy-policy-is-required-by-law.jpg" />
<div style="font-family:Arial">
<p>
    In today's business world, companies depend heavily on data and information derived from it. Indeed, information is essential for all company employees, from the top executives to the operations level.
</p>
<p>
    Protecting data, especially private, personal information, is crucial in a complex world where so much depends upon it. The most important step for business owners to protect their customers' data is to create a concise and transparent Privacy Policy.
</p>
<p>
    So, a good Privacy Policy should outline what data is being collected and explain why you're collecting it, who has access to it, and the time frame during which you plan to store it. It should also include any third parties with whom your company shares personal or private information, as well as any steps taken to ensure the security of such information.
</p>
</div>